.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 12px 0 0;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__title {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
