.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;

  padding: 12px 0 0;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  flex-shrink: 0;
  cursor: pointer;
}

.card__like-btn-active {
  background-image: url(../images/like.svg);
  opacity: 1;
}

.card__like-btn:hover {
  opacity: 0.7;
}

.card__like-btn-active:hover {
  opacity: 0.4;
}

.card__delete-btn {
  background-image: url(../images/delete-hover.svg);
  height: 32px;
  width: 32px;
  border: none;
  background-color: transparent;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  flex-shrink: 0;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-btn:hover {
  background-image: url(../images/delete.svg);
}

.card__title {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  min-width: 0;
  flex: 1;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
