.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear;
  font: "Poppins", Arial, sans-serif;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/Xbtn.svg);
  cursor: pointer;
  border-style: none;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
}

.modal__close-btn:hover {
}

.modal__close-btn:focus {
}

.modal__title {
  margin: 0 0 32px;
  font: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font: "Poppins";
  font-size: 16px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 8px;
  font: "Poppins";
  font-size: 20px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.7);
  border-radius: 8px;
  padding: 16px 12px;
  line-height: 1;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  background-color: #212121;
  color: #fcf5e5;
  font: "Poppins";
  font-size: 16px;
  max-width: 156px;
  width: 100%;
  padding: 18px 32px;
  border-radius: 8px;
  cursor: pointer;
}

.modal__submit-btn:hover {
}

@media screen and (max-width: 627px) {
  .modal__submit-btn {
    max-width: none;
  }
  .modal__container {
    padding: 22px 12px 12px;
  }
  .modal__close-btn {
    top: 22px;
    right: 12px;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__input {
    font-size: 16px;
  }
  .modal__form {
    margin-top: 34px;
  }
}
