.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 420px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #212121b2;
}

.profile__edit-btn {
  margin-top: auto;
  background-color: transparent;
  border-style: none;
  gap: 8px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 150ms ease;
}

.profileedit-btn:hover {
  opacity: 1;
}

.pencil {
  padding-right: 8px;
}
.profile__add-btn {
  margin-left: auto;
  padding: 0;
  border-radius: 8px;
  align-self: end;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background-color: #212121;
  color: #fcf5e5;
  width: 157px;
  height: 52px;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
